# Code owner for the entire repository
*       @arjun-fns

# Code owner for specific directories (archived for now)
# /docs   @arjun-fns
# /scripts @arjun-fns

/sanket @sanket-fns
/lucky @luckyk-fns

# Code owner for specific files
README.md @arjun-fns