@tailwind base;
@tailwind components;
@tailwind utilities;


/* sidebar code start */
/* #scrollable::-webkit-scrollbar{
  display: none;
} */

.dropdown {
  width: 100%;
}

.dropbtn {
  width: 100%;
  background-color: transparent;
  color: white;
  /* padding: 16px;
  font-size: 18px; */
  border: none;
  cursor: pointer;
  text-align: left;
  display: flex;
  
  align-items: center;
  justify-content: space-between;
}

.dropbtn::after {
  content: "";
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  transition: transform 0.3s;
}

.dropdown-content {
  display: none;
  background-color: transparent;
  overflow: hidden;
  transition: max-height 0.5s ease-out 5s, opacity 0.5s ease-out 0.3s, transform 0.5s ease-out 0.3s;
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
}

.dropdown-content.show {
  display: block;
  max-height: 200px; 
  opacity: 1;
  transform: translateY(0);
}

.dropbtn.active::after {
  transform: rotate(-135deg);
}

.dropdown-content a {
  padding: 10px 16px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
}

.dropdown-content a:hover {
  background-color: #233ec6;
}

.dropdown{
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

/* sidebar code end */


/* rellax code start */


/* rellax code end */


/* text-effect code start */


.text1 {
  position: relative;
  padding-top: 20px; /* Adjust as needed to position the line */
}

.text1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 4px; /* Adjust the height of the line */
  background-color: #FFD700; /* Adjust the color of the line to match the text color */
}


.text2 {
  position: relative;
  padding-top: 20px; /* Adjust as needed to position the line */
}

.text2::after {
  content: "";
  position: absolute;
  bottom: 0;
  
  width: 150vh;
  height: 4px; /* Adjust the height of the line */
  background-color: #FFD700; /* Adjust the color of the line to match the text color */
}

@media screen and (max-width: 366px){
  .text1::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 50%;
    left: -100%;
    width: 100%;
    height: 4px; 
    background-color: #FFD700;
  }

}
/* text-effect code end */


/* HERO code start */
.heroEffects {
    height: 100vh;
    position: relative;
    z-index: -1;
    top: 0;
    left: 0;
    .bg {
        height: 100vh;
        position: fixed;
        width: 100%;
        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/30256/jungleBG.jpg');
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        background-position: center center;
        transform: scale(1); 
    }
    .shade {
        opacity: 0;
        background: rgba(0, 0, 0, .8);
        z-index: 3;
        height: 100vh;
        position: fixed;
        width: 100%;
    }
    .title {
        width: 100%;
        .text {
            z-index: 1;
            width: 100%;
            text-align: center;
            color: White;
            padding: 4em;
            background: rgba(0, 0, 0, .6);
        }
    }
    
}

.centerV {
    display: table;
    height: 100%;
    > div {
        display: table-cell;
        vertical-align: middle;
    }
}

h1 {
    font-size: 5em;
    margin-bottom: 0.1em;
    font: 5em/1em;
    color: #fff;
}

p {
    width: 60vw;
    margin: 0 auto;
    line-height: 1.5em;
    padding: 10px 20px 0;
    border-top: solid 1px rgba(255, 255, 255, .2);
    letter-spacing: 0.015em;
    display: block;
    color: #eee;
}

.content {
    background: #cdcdcd;
    padding: 150px 50px;
    p {
        color: #111;
        font-size: 2em;
        margin-bottom: 50px;
    }
}
/* HERO code end */